html,
button,
input,
select,
textarea {
    font-family: arial, sans-serif;
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

p {}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
