*:focus {
	outline: none;
}


body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

p {
	font-size: 24px;
	color: #444444;
	margin:0 0 15px 0;
}

.logo {
	height: 220px;
	width: 640px;
	background: url(../img/logo.png) bottom center no-repeat;
	background-size: 440px auto;
	text-indent: -9999px;
	margin-bottom: 165px;
}

h1 {
	margin: 0;
}

.page-title {
	padding-top:120px;
	margin-bottom: 55px;
	text-align: center;
	font-size: 72px;
	font-weight: 300;
	color: white;
}

.bg-login {
	height: 1136px;
	background: url(../img/bg_login.jpg) center top no-repeat fixed;
}

.bg-cidade {
	height: 1136px;
	background-color: #ececec;
}

.form-default {
	width: 440px;
	margin: 0 auto;
}


.form-default label {
	display: block;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 36px;
	color: white;
	margin-bottom: 10px;
}

.form-default .input {
	border: 0;
	padding: 0 10px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 36px;
	color: white;
	width: 420px;
	height: 60px;
	background: url(../img/bg_input.png) center center no-repeat;
	color: #333;
}

.form-default select {
	width: 100%;
	heigth: 75px;
	border: 1px solid #ddd;
	background: white;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 30px;
	color: #444;
}

.input-usuario {
	margin-bottom: 30px;
}

.group-buttons {
	margin-top: 50px;
}

.group-buttons .btn {
	float: left;
}

.group-buttons .btn:first-child {
	margin-right: 40px;
}

.btn {
	border: 0;
	padding: 0;
	margin: 0;
	display: block;
	width: 196px;
	height: 54px;
	font-size: 30px;
	font-weight: 300;
	line-height: 54px;
	text-align: center;
	color: white;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn-full {
	width: 100%;
}

.btn-pink { background-color: #be1a5b; border: 2px solid #be1a5b; }
.btn-green { background-color: #47a461; border: 2px solid #47a461; }

.btn-pink.transparente {
	border: 2px solid #be1a5b;
	color: #be1a5b;
	background-color: transparent;
}

.pink { color: #be1a5b; }

.title-cidade {
	height: 170px;
	background-color: white;
	line-height: 170px;
	font-size: 60px;
	font-weight: 300;
	text-align: center;
	color: #be1a5b;
}

.content-cidade {
	padding-top: 70px;
}

.content-principal {
	width: 100%;
	background-color: white;
}

.topo-principal {
	height: 170px;
	background: url(../img/topo_principal.jpg) center center no-repeat;
}

.btn-filtrar {
	float: left;
	margin-top: 49px;
	margin-left: 100px;
	display: block;
	height: 80px;
	width: 440px;
	background: #be1a5b url(../img/icon_filtro.png) 250px center no-repeat;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	font-size: 36px;
	font-weight: 300;
	line-height: 80px;
	color: white;
	text-decoration: none;
	text-indent: 120px;
}

.lista-acompanhantes {
	padding: 60px 20px 0;
	margin: 0;
	list-style: none;
}

.acompanhantes-item {
	width: 180px;
	overflow: hidden;
	float: left;
	margin-left: 29px;
	margin-bottom: 29px;
}

.lista-acompanhantes .preco {
	color: #be1a5b;
	font-weight: 300;
}

.acompanhantes-item a {
	font-size: 24px;
	font-weight: 300;
	color: #444;
	display: block;
	text-align: center;
	text-decoration: none;
	margin-top: 20px;
}

.acompanhantes-item img {
	width: 180px;
	height: 180px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
}

.acompanhantes-item:nth-child(4n),
.acompanhantes-item:first-child {
	margin-left: 0;
}

.filtro {
	position: absolute;
	top: 0;
	left: 0;
	width: 640px;
	height: 1136px;
	/*background: url(../img/bg_filtro.png) center center no-repeat;*/
	/*background: rgba(255,255,255,0.5);*/
	background: rgba(235, 235, 236, 0.9);
	-webkit-filer: blur(100px);
	z-index: 9999;
	padding-top: 115px;
}

.btn-fechar {
	cursor: pointer;
	display: block;
	position: absolute;
	right: 40px;
	top: 40px;

	height: 46px;
	width: 135px;
	border: 2px solid #be1a5b;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	font-size: 24px;
	font-weight: 300;
	color: #be1a5b;
	line-height: 46px;
	text-align: center;
}

.btn-fechar:hover {
	background-color: #be1a5b;
	color: white;
}

.filter-group {
	position: relative;
	margin-bottom: 70px;
}

.slider-label-left {
	display: block;
	position: absolute;
	top: 70px;
	left: -60px;
	
	font-size:24px;
	font-weight: bold;
	color: #b91c5d;
}

.slider-label-right {
	display: block;
	position: absolute;
	top: 70px;
	right: -60px;
	
	font-size:24px;
	font-weight: bold;
	color: #b91c5d;
}

.slider-preco-max {
	right: -80px;
}

.filter-title {
	text-align: center;
	font-size: 36px;
	color: #be1a5b;
	font-weight: 300;
}

.button-group {
	text-align: center;
}

.button-group a:first-child {
	margin-left: 0;
}

.button-group a {
	margin-left: 20px;
	margin-bottom: 20px;
}

.filter-btn {
	cursor: pointer;
	display: inline-block;
	height: 55px;
	padding: 0 40px;
	border: 2px solid #be1a5b;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	font-size: 24px;
	font-weight: 300;
	color: #be1a5b;
	line-height: 55px;
	text-align: center;
}
.filter-btn:hover,
.filter-btn.selected {
	background-color: #be1a5b;
	color: white;
}

.extra {
	padding: 0;
	width: 140px;
}

.circle {
	padding: 0;
	width: 60px;
	 -webkit-border-radius: 200px;
	 -moz-border-radius: 200px;
	 border-radius: 200px;
}

.bg-perfil {
	height: 1136px;
	background: url(../img/bg_perfil.jpg) center top no-repeat;
}

.btn-voltar {
	cursor: pointer;
	display: block;
	position: absolute;
	right: 40px;
	top: 40px;

	height: 46px;
	width: 135px;
	border: 2px solid #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	font-size: 24px;
	font-weight: 300;
	color: #fff;
	line-height: 46px;
	text-align: center;
	text-decoration: none;
}

.perfil-img {
	position: absolute;
	top: 55px;
	left: 35px;
	height: 180px;
	width: 180px;
	border: 5px solid white;
	overflow: hidden;

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

.perfil-meta {
	position: absolute;
	top: 95px;
	left: 270px;
}

.perfil-title {
	padding: 0; margin: 0;
	font-size: 60px;
	font-weight: 300;
	color: white;
}

.perfil-idade {
	margin-left: 5px;
	font-size: 24px;
	font-weight: 300;
	color: white;
}

.perfil-description {
	position: absolute;
	top: 310px;
	width: 640px;
	height: 280px;
	background: rgba(255,255,255,0.93);
}

.description-list {
	margin: 0;
	list-style: none;
	padding: 40px 0 0 100px;
	font-weight: 300;
	color: #666;
	font-size: 24px;
}

.description-list li {
	margin-bottom: 40px;
}

.description-list strong {
	font-weight: bold;
	color: #be1a5b;
}

.perfil-galeria {
	width: 440px;
	left: 100px;
	position: absolute;
	top: 650px;
}

.perfil-galeria h2 {
	font-size: 36px;
	font-weight: 300;
	color: white;
}

.galeria-list {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.galeria-list li:first-child {
	margin-left: 0;
}

.galeria-list li {
	float: left;
	width: 100px;
	overflow: hidden;
	margin-left: 10px;
	display: inline-block;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

.btn-contratar {
	position: absolute;
	top: 900px;	
	left: 100px;
	height: 80px;
	width: 440px;
	line-height: 80px;
}

.mensagem {
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	color: #666;
	width: 420px;
	height: 215px;
	background: white;
	border: 2px solid #ddd;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}