<div class="container bg-perfil">
<a class="btn-voltar" href="#/acompanhantes">Voltar</a>
<div class="perfil-img">
    <img ng-src="mocas/{{perfil.fotos[0]}}" alt="">
</div>

<div class="perfil-meta">
    <h1 class="perfil-title">{{perfil.nome}}</h1>
    <span class="perfil-idade">{{perfil.idade}} anos</span>
</div>

<div class="perfil-description">
    <ul class="description-list">
        <li><strong>Preço: </strong>{{perfil.preco | currency:"R$ "}}</li>
        <li><strong>Tamanho dos seios: </strong>{{perfil.tamanhoSeios}}</li>
        <li><strong>Extras: </strong><span ng-repeat="extra in perfil.extras"> {{extra}}, </span></li>
    </ul>
</div>

<div class="perfil-galeria">
    <h2>Galeria</h2>
    <ul class="galeria-list">
        <li>
            <img ng-src="mocas/{{perfil.fotos[0]}}" alt="" width=100>
        </li>
        <li>
            <img ng-src="mocas/{{perfil.fotos[1]}}" alt="">
        </li>
        <li>
            <img ng-src="mocas/{{perfil.fotos[2]}}" alt="">
        </li>
        <li>
            <img ng-src="mocas/{{perfil.fotos[3]}}" alt="">
        </li>
    </ul>
</div>

<a href="#/mensagem/{{perfil.id}}" class="btn btn-pink btn-full btn-contratar">Quero Contratar</a>