<div class="container">
    <div class="topo-principal">
        <a href="javascript:;" class="btn-filtrar" ng-click="toggleFilter()">Filtrar</a>    
    </div>

    <div class="content content-principal">
       	<ul class="lista-acompanhantes">
       		<li class="acompanhantes-item" ng-repeat="acompanhante in acompanhantes | filter:{sexo:filtroSexo, tamanhoSeios:filtroSeio} | filter:filterExtras | filter:filterIdade | filter:filterPreco">
                <a href="#/acompanhante/{{acompanhante.id}}">
                    <img ng-src="mocas/{{acompanhante.fotos[0]}}" alt="{{acompanhante.nome}}">
                    {{acompanhante.nome}} - {{acompanhante.idade}}<br>
                    <strong class="preco">{{acompanhante.preco | currency:"R$ "}}</strong>
                </a>
            </li>
       	</ul>
    </div>


    <div class="filtro" ng-show="filtro">
        <div class="btn-fechar" ng-click="closeFilter()">Fechar</div>

        <div class="filter-group content">
            <h2 class="filter-title">Sexo</h2>
            <div class="button-group">
                <a class="filter-btn" ng-class="{selected: (filtroSexo == 'F')}" ng-click="mudaFiltroSexo('F')">Feminino</a>
                <a class="filter-btn" ng-class="{selected: (filtroSexo == 'M')}" ng-click="mudaFiltroSexo('M')">Masculino</a>
            </div>
        </div>

        <div class="filter-group content">
            <h2 class="filter-title">Idade</h2>
			<span class="slider-label-left slider-idade-min">{{filtroIdade[0]}}</span>
			<span class="slider-label-right slider-idade-max">{{filtroIdade[1]}}</span>
			<div ui-slider="{range:true}" 
			     min="18" 
			     max="55" 
				 step="1"
			     ng-model="filtroIdade">
	        </div>

        <div class="filter-group content">
            <h2 class="filter-title">Preço</h2>
			<span class="slider-label-left slider-preco-min">{{filtroPreco[0]}}</span>
			<span class="slider-label-right slider-preco-max">{{filtroPreco[1]}}</span>
			<div ui-slider="{range:true}"
				 range="true"
			     min="10" 
			     max="5000" 
				 step="1"
			     ng-model="filtroPreco">
	        </div>
        </div>

        <div class="filter-group content">
            <h2 class="filter-title">Tamanho dos seios</h2>
            <div class="button-group">
                <a class="filter-btn circle" ng-class="{selected: (filtroSeio == '')}" ng-click="mudaFiltroSeio('')">*</a>
                <a class="filter-btn circle" ng-class="{selected: (filtroSeio == 'P')}" ng-click="mudaFiltroSeio('P')">P</a>
                <a class="filter-btn circle" ng-class="{selected: (filtroSeio == 'M')}" ng-click="mudaFiltroSeio('M')">M</a>
                <a class="filter-btn circle" ng-class="{selected: (filtroSeio == 'G')}" ng-click="mudaFiltroSeio('G')">G</a>
                <a class="filter-btn circle" ng-class="{selected: (filtroSeio == 'GG')}" ng-click="mudaFiltroSeio('GG')">GG</a>
            </div>
        </div>

        <div class="filter-group content">
            <h2 class="filter-title">Extras</h2>
            <div class="button-group">
                <a class="filter-btn extra" ng-class="{ selected: (containsObject('ORAL',filtroExtras)) }" ng-click="addFiltroExtra('ORAL')">Oral</a>
                <a class="filter-btn extra" ng-class="{ selected: (containsObject('ANAL',filtroExtras)) }" ng-click="addFiltroExtra('ANAL')">Anal</a>
                <a class="filter-btn extra" ng-class="{ selected: (containsObject('GRUPAL',filtroExtras)) }" ng-click="addFiltroExtra('GRUPAL')">Grupal</a>
            </div>
        </div>
    </div>
</div><!-- container -->

<script type="text/javascript">
$(function(){
	/*
	$( "#slider-idade" ).slider({
      range: true,
      min: 18,
      max: 55,
      values: [ 18, 55 ],
	  slide: function( event, ui ) {
		  var valorMinimo = $( "#slider-idade" ).slider( "values", 0 );
		  var valorMaximo = $( "#slider-idade" ).slider( "values", 1 );
		$( ".slider-idade-min" ).text(valorMinimo)
		$( ".slider-idade-max" ).text(valorMaximo);
	  }
    });

	$( "#slider-preco" ).slider({
      range: true,
      min: 10,
      max: 1000,
      values: [ 10, 1000 ],
	  slide: function( event, ui ) {
		  var valorMinimo = $( "#slider-preco" ).slider( "values", 0 );
		  var valorMaximo = $( "#slider-preco" ).slider( "values", 1 );
		$( ".slider-preco-min" ).text(valorMinimo)
		$( ".slider-preco-max" ).text(valorMaximo);
	  }
    });
	*/
})
</script>