<div class="container bg-login">
    <h1 class="page-title">Cadastro</h1>

    <form class="form-default" action="#/">
    	<label for="usuario">Usuário:</label>
    	<input type="text" id="usuario" name="usuario" class="input">
    	<label for="email">E-mail:</label>
    	<input type="text" id="email" name="email" class="input">
    	<label for="senha">Senha:</label>
    	<input type="password" id="senha" name="senha" class="input">
    	<label for="senha2">Digite a senha novamente:</label>
    	<input type="password" id="senha" name="senha2" class="input">
		
    	<div class="group-buttons">
        	<a href="#/" class="btn btn-pink">Cancelar</a>
        	<input type="submit" value="Cadastrar" class="btn btn-green">
        </div>
    </form>			
</div>