<div class="container bg-cidade">
    <h1 class="title-cidade">EasyProst</h1>
	
	<div class="content content-cidade">
		<p>Sua mensagem foi enviada para <span class="pink">{{perfil.nome}}</span> com sucesso! Em breve ela entrará em contato com você.</p>

		<a href="#/acompanhantes" class="btn btn-green btn-full">OK</a>
    </div>	
</div>