<div class="container bg-login">
    <h1 class="logo">Easy Prost</h1>

    <form class="form-default" action="#/cidade">
    	<label for="usuario">Usuário:</label>
    	<input type="text" id="usuario" name="usuario" class="input input-usuario">
    	<label for="senha">Senha:</label>
    	<input type="password" id="senha" name="senha" class="input">
		
		<div class="group-buttons">
        	<a href="#/cadastro" class="btn btn-pink">Cadastro</a>
        	<input type="submit" value="Login" class="btn btn-green">
        </div>
    </form>			
</div>