<div class="container bg-cidade">
	<div class="content content-cidade">
        <p><strong class="pink">De: </strong>Diogo</p>
        <p><strong class="pink">Para: </strong>{{perfil.nome}}</p>
		
		<p>Deixe sua mensagem:</p>

        <form class="form-default">
        	<textarea name="mensagem" id="mensagem" class="mensagem"></textarea>
        	<div class="group-buttons">
	        	<a href="index.php" class="btn btn-pink transparente">Cancelar</a>
	        	<a href="#/enviada/{{perfil.id}}" class="btn btn-pink">Enviar</a>
	        </div>
        </form>
    </div>	
</div>